html, body{
  overflow: hidden;
}

body {
  margin: 0;
  font-family: sans-serif;

  --color-gray: #aaa;
  --color-purple: #3E3753;
  --ease: cubic-bezier(.44,0,.63,1);

}

#bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#smooth-content{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow-y: hidden !important;
}

.hero {
  position: relative;
  color: white;
  display: flex;
}

.hero-menu{
  margin-left: 20px;
  width: 30px;
  cursor: pointer;

  line{
    transition: transform .2s var(--ease);
    transform-origin: center;
  }

  &:hover{
    line:nth-child(2) {
      transform: translate(-4px, 3px) rotate(45deg);
    }

    line:nth-child(4) {
      transform: translate(-4px, -4px) rotate(-45deg);
    }
  }
}

.hero-btn{
  overflow: visible;
  width: 50px;

  .hero-btn-circle{
    cursor: pointer;
    transform-origin: center center;
    transition: transform 0.4s var(--ease);
  }

  &:hover{
    .hero-btn-circle{
      transform: scale(1.1);
    }
  }
}

h1{
  font-size: 0.7rem;
  margin: 1rem 0;
  text-transform: uppercase;
}

.hero-bg {
  position: absolute;
  height: 200%;
  width: 100%;
  background-size: auto 50%;
  background-repeat: repeat;
  background-position: left bottom;
}

.hero-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2em 1em;
  padding-bottom: 0;
  box-sizing: border-box;
}

h4{
  font-size: 0.8rem;
  margin: 0.3rem 0;
  margin-top: 0;
}

.grid{
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 0 3rem;
  margin-top: 0;
  margin-bottom: 2em;
  color: white;
  font-size: 0.5rem;
}

.grid-item{
  border-radius: 20px;
  position: relative;
  box-sizing: border-box;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.pink{
    color: #41205a;
    background: linear-gradient(332deg, #FFDCDA, #FFDCDA 30%, #FCF8EF);
  }

  &.orange{
    background: linear-gradient(332deg, #F69F86, #F69F86 30%, #FCD797);
  }
  
  &.orange2{
    background: linear-gradient(0deg, #FD6E7B, #FEAE88);
  }

  &.darkpurple{
    background: linear-gradient(-90deg, #614382, #89639A);
  }

  &.green{
    background: #3BF7D4;
    background-image: url(./assets/boat.jpg);
    background-size: cover;
    background-position: bottom;
  }

  &.blue{
    background: linear-gradient(0deg, #5959B0, #7F79E7);
  }

  &.purple{
    background: linear-gradient(0deg, #7656A9, #936FC5);
  }

  &::before {
    border-radius: 20px;
    background: rgb(65, 32, 90);
    transform: translate(20px, 20px);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    mix-blend-mode: multiply;
    opacity: 0.75;
    filter: blur(20px);
  }
}

.row{
  margin: 0.5rem 0;
}

.price{
  font-size: 1.2rem;
  font-weight: 700;
}

.circle{
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  background: orange;
  background: radial-gradient(circle at top left, #f7b573, #FD895D);
  border-radius: 50%;
  transform: translateX(50%);
  box-shadow: 5px 5px 10px rgb(65, 32, 90, 0.5);
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem 1rem;
}

